@model EditBudgetViewModel

@{
    ViewData["Title"] = "Edit Your Budget";

}

@section Styles{
    <style>
        .color-ball {
            height: 20px;
            width: 20px;
            margin: 5px;
            border-radius: 50%
        }
    </style>
}

<form method="post"
      asp-action="Edit">

    <input hidden 
           name="BudgetId" 
           value="@Model.BudgetId" />

    <div class="row">
        @foreach(var item in Model.TotalsForTheMonth)
        {
            <div class="form-group col-6">
                <label>
                    <div class="row justify-content-around">
                        <div class="color-ball" style="background-color: @item.Key.ColorCode"></div>
                        @item.Key.Name
                    </div>
                </label>

                <input class="form-control"
                       name="@item.Key.Id"
                       type="text"
                       value="@item.Value"/>
            </div>
        }
    </div>

    <button class="btn btn-primary"
            type="submit">
        Edit Budget
    </button>

</form>